:root {
  --background: black;
  --select: skyblue;
  --font: 'Garamond';
  --butfont: Andale Mono;
  --butcolor: whitesmoke;
  --textcolor: whitesmoke;
  --butbackground: dimgrey;
  --butborder: transparent;
  --menufont: Courier New;
  --bdcolor: grey;
  --duedatecolor: rgb(255, 255, 140);
  --contextcolor: rgba(0, 0, 0, 0.8);
  --contextfontcolor: grey;
  --important: firebrick;
  --event: rgba(135,206,235,0.3);
}
