:root {
  --background: black;
  --bgoverlay: rgba(0, 0, 0, 0.8);
  --select: rgb(135, 206, 235);
  --font: 'Garamond';
  --butfont: Andale Mono;
  --textcolor: rgb(245, 245, 245);
  --menufont: Courier New;
  --bdcolor: rgb(128, 128, 128);
  --important: #53D2FF;
  --maybe: rgba(83, 210, 255, 0.5);
  --event: rgba(135,206,235,0.3);
  --butbackground: rgba(128, 128, 128, 0.3);
  --flopbutbackground: rgba(245, 245, 245, 0.3);
}
