:root {
  --background: rgb(27, 30, 33);
  --bgoverlay: rgba(27, 30, 33, 0.8);
  --select: rgb(175, 224, 220);
  --font: Gill Sans Light, Helvetica;
  --butfont: Gill Sans Light, Helvetica;
  --textcolor: rgb(165, 188, 213);
  --menufont: Gill Sans Light, Helvetica;
  --bdcolor: rgba(224, 223, 225, 0.5);
  --contextcolor: rgba(175, 224, 220, 0.8);;
  --contextfontcolor: rgba(40, 103, 72);
  --important: rgb(23, 114, 148);
  --maybe: rgba(23, 114, 148, 0.5);
  --event: rgba(175, 224, 220, 0.3);
  --flopbutbackground: rgba(165, 188, 213, 0.3);
  --butbackground: rgba(224, 223, 225, 0.3);
}