@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,500;0,700;1,300;1,700&display=swap");

:root {
  /* --background: rgb(171, 176, 208); */
  --background: rgb(5, 5, 26);
  --fontweight: 300;
  --boldweight: 500;
  --lineheight: 1.15em;
  --bgoverlay: rgba(5, 5, 26, 0.8);
  --fontsize: 21px;
  /* --select: rgb(251, 217, 253); */
  /* --select: #D8B2D1; */
  --select:rgb(183, 104, 162);
  --font: 'Josefin Sans', sans-serif;
  --butfont: 'Josefin Sans', sans-serif;
  --textcolor: rgb(248, 197, 252);
  --menufont: 'Josefin Sans', sans-serif;
  --bdcolor: rgba(212, 112, 162);
  --important: rgb(226, 156, 210);
  --maybe: rgba(212, 93, 194, 0.5);
  --event: rgba(183, 104, 162, 0.3);
  --butbackground: rgba(40, 6, 34);
  --flopbutbackground: rgba(248, 197, 252, 0.3);
  --indent: 0.8em;
}

span.h1, span.h2, span.h3 {
  padding: 0.3em 0 0.1em 0 !important;
}
