:root {
  --background: #AFE0C8;
  --select: #948ED7;
  --font: Gill Sans Light, Helvetica;
  --butfont: Gill Sans Light, Helvetica;
  --textcolor: #252426;
  --menufont: Gill Sans Light, Helvetica;
  --bdcolor: grey;
  --duedatecolor: rgba(255, 0, 0, 0.3);
  --contextcolor: whitesmoke;
  --contextfontcolor: grey;
  --important: #53D2FF;
  --maybe: rgba(83, 210, 255, 0.5);
  --event: rgba(135,206,235,0.3);
  --date: rgb(135,206,235);
  --butbackground: rgba(128, 128, 128, 0.3);
  --popbutbackground: rgba(135, 206, 235, 0.3);
  --flopbutbackground: rgba(245, 245, 245, 0.3);
}
