@import url('https://fonts.googleapis.com/css2?family=Are+You+Serious&family=Ruge+Boogie&family=Sunshiney&display=swap');

:root {
  --fontsize: 24px;
  --fontweight: 100;
  --boldweight: 300;
  /* --background: rgb(240, 240, 220); */
  --background: rgb(240, 240, 220);
  --lineheight: 1.5em
  --bgoverlay: rgba(240, 240, 220, 0.9);
  --select: rgb(147, 98, 39);
  --font: 'Trattatello', 'Are You Serious', serif;
  --butfont: 'Trattatello', 'Are You Serious', serif;
  /* --textcolor: rgb(59, 60, 54); */
  --textcolor: rgb(177, 150, 119);
  --menufont: 'Trattatello', 'Are You Serious', serif;
  --bdcolor: rgb(200, 173, 127);
  --important: rgb(208, 147, 48);
  --maybe: rgba(208, 147, 48, 0.5);
  --event: rgba(208, 147, 48, 0.3);
  --butbackground: rgba(128, 128, 128, 0.3);
  --flopbutbackground: rgba(200, 173, 127, 0.3);
  --indent: 0.5em; 
  /* --fontsize: 24px;
  --fontweight: 100;
  --boldweight: 300;
  --background: rgb(187, 215, 178);
  --lineheight: 1.5em;
  --bgoverlay: rgba(187, 215, 178, 0.9);
   --select: rgb(135, 206, 235);
   --select: rgb(74, 100, 108);
  --select: rgb(246, 240, 172);
  --font: 'Trattatello', serif;
  --butfont: 'Trattatello';
   --textcolor: rgb(245, 245, 245);
   --textcolor: rgb(131, 137, 150);
  --textcolor: rgb(245, 245, 220);
  --menufont: 'Trattatello';
  --bdcolor: rgb(170, 170, 141);
  --important: rgb(255, 226, 209);
  --maybe: rgba(255, 226, 209, 0.5);
  --event: rgba(246, 240, 172, 0.3);
  --butbackground: rgba(128, 128, 128, 0.3);
  --flopbutbackground: rgba(222, 224, 227, 0.3);
  --indent: 0.5em; */
}