:root {
  --background: #E4EDF1;
  --bgoverlay: rgba(228, 237, 241, 0.8);
  --select: rgb(119, 152, 171);
  --font: Helvetica Neue Light, Helvetica Neue;
  --butfont: Helvetica Neue Light, Helvetica Neue;
  --textcolor: rgb(52, 64, 85);
  --menufont: Helvetica Neue Light, Helvetica Neue;
  --bdcolor: rgba(21, 35, 40, 0.5);
  --important: rgb(69, 108, 135);
  --maybe: rgba(69, 108, 135, 0.5);
  --event: rgba(119, 152, 171, 0.3);
  --butbackground: rgba(128, 128, 128, 0.3);
  --flopbutbackground: rgba(52, 64, 85, 0.3);
}
