/* add the padding-right to subspan widths */
span span span.mobhandle {
  /* height: 0.85em !important;
  width: 0.85em !important; */
  right: calc(2px + 0.04em);
}
span.note span.mobhandle {
  right: calc(2px + 0.15em);
}
span span.mobhandle {
  display: inline-block;
  border: 1px solid var(--select);
  height: 1em !important;
  width: 1em !important;
  max-width: var(--fontsize);
  max-height: var(--fontsize);
  border-radius: 100%;
  padding: 0;
  margin: 1px;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}
span.in {
  padding-right: 40px;
}
.rendered > span.in {
  margin-right: 20px;
  width: calc(100% - 20px);
}
span.in span.in {
  width: calc(100% + 5px + 40px - var(--indent));
}
span.list span.in, span.note span.in {
  width: calc(100% + 5px + 40px);
}
span span.event {
  width: calc(100% + var(--indent) + 40px);
}