/* add the padding-right to subspan widths */
body {
  /* overflow-y: visible !important; */
  height: calc(100vh - 5px);
  overflow-y: visible;
}
:root {
  --butwidth: 45px !important;
}
span.dateheading {
  padding-right: 60px;
}
.rendered > * {
  width: calc(100% - 25px);
}
.slider::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
}