:root {
  --background: #FF83FF;
  --select: #9C89F0;
  --font: Avenir Next, Helvetica;
  --butfont: Avenir Next, Helvetica;
  --textcolor: whitesmoke;
  --menufont: Avenir Next, Helvetica;
  --bdcolor: grey;
  --duedatecolor: rgba(255, 0, 0, 0.3);
  --contextcolor: whitesmoke;
  --contextfontcolor: grey;
  --important: #53D2FF;
  --maybe: rgba(83, 210, 255, 0.5);
  --event: rgba(135,206,235,0.3);
  --date: rgb(135,206,235);
  --butbackground: rgba(128, 128, 128, 0.3);
  --popbutbackground: rgba(135, 206, 235, 0.3);
  --flopbutbackground: rgba(245, 245, 245, 0.3);
}
