:root {
  --background: /* rgb(199, 203, 229); */ rgb(171, 176, 208);
  --bgoverlay: /* rgb(199, 203, 229); */ rgba(171, 176, 208, 0.8);
  --fontsize: 21px;
  --select: rgb(251, 217, 253);
  --font: Avenir Next, Helvetica;
  --butfont: Avenir Next, Helvetica;
  --textcolor: whitesmoke;
  --menufont: Avenir Next, Helvetica;
  --bdcolor: rgba(53, 3, 58, 0.3);
  --contextcolor: whitesmoke;
  --contextfontcolor: grey;
  --important: rgb(254, 187, 248);
  --maybe: rgba(254, 187, 248, 0.5);
  --event: rgba(251, 217, 253, 0.3);
  --butbackground: #BEC1DA;
  --flopbutbackground: rgba(245, 245, 245, 0.3);
  --indent: 0.5em;
}
