@font-face {
  src: url('lane.ttf');
  font-family: 'Lane';
}

/* @font-face {
  src: url('helvetiva.ttf');
  font-family: 'Helvetica Neue Light';
  font-weight: 100;
} */

:root {
  --fontsize: 22px;
  --fontweight: 100;
  --boldweight: 300;
  --lineheight: 1.25em;
  --background: #E4EDF1;
  --bgoverlay: rgba(228, 237, 241, 0.9);
  --select: rgb(119, 152, 171);
  --font: 'Helvetica Neue', sans-serif;
  --butfont: 'Lane', sans-serif;
  --textcolor: rgb(52, 64, 85);
  --menufont: 'Lane', sans-serif;
  --bdcolor: rgba(21, 35, 40, 0.5);
  --important: rgb(29, 41, 81);
  --maybe: rgba(29, 41, 81, 0.5);
  --event: rgba(119, 152, 171, 0.3);
  --butbackground: rgba(128, 128, 128, 0.3);
  --flopbutbackground: rgba(52, 64, 85, 0.3);
  --indent: 0.85em;
}

body {
  letter-spacing: 1px;
}
