/* MAIN */

html {
  scroll-behavior: smooth;
}

body {
  font: var(--fontsize) var(--font), serif;
  font-weight: var(--fontweight);
  line-height: var(--lineheight);
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

/* TITLES AND BUTTONS */

button {
  font-family: var(--butfont), monospace;
  font-weight: var(--fontweight);
  font-size: 16px;
  color: var(--bdcolor);
  background-color: var(--butbackground);
  border-radius: 6px;
  border: none;
  padding: 4px;
  min-width: 30px;
}

#leftcol button {
  width: 30px;
  max-width: calc(25% - 4px);
  margin: 2px;
}

#floplist button {
  background-color: var(--flopbutbackground);
}

#poplist button {
  background-color: var(--event);
}

.butbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2px 0;
  background-color: transparent;
}

#mobilebuts {
  display: none;
}

#collapsebut {
  z-index: 2;
}

#flopbuts, #popbuts {
  background-color: var(--bgoverlay);
  position: fixed;
  z-index: 2;
  width: 100%;
  margin-left: 1px;
  border-radius: 3px;
  margin-top: 1px;
}

#focusbar {
  display: flex;
  justify-content: left;
  width: 100vw;
  margin-top: 3px;
}

#focusbar button {
  margin: 0px 5px;
}
/* 
#focusbar div {
  width: 250px;
  max-width: calc(50vw - 20px);
} */

#focusbar div div {
  width: fit-content;
  max-width: 100%;
}

.flopbut {
  flex-grow: 1;
}

.title {
  font-family: var(--menufont);
  color: var(--textcolor);
  margin: 0 -5px;
  padding: 0;
  width: calc(100% + 10px);
  text-align: center;
  border-bottom: 1px solid var(--bdcolor);
  overflow: hidden;
}

/* OTHER */

audio {
  display: none;
}

[draggable] {
  user-select: none;
}

/* INPUTS */

input {
  display: block;
  font: inherit;
  width: calc(100% + 3px);
  margin: -1px;
  background-color: inherit;
  border: 1px solid var(--bdcolor);
  color: var(--textcolor);
}

#username {
  color: var(--textcolor);
  text-align: center;
  margin: 0 auto;
}

#searchbar-results {
  z-index: 4;
  background-color: var(--background);
}

#searchbar {
  border: 1px solid var(--bdcolor);
  color: var(--textcolor);
}

#timerent {
  font: 80% var(--menufont), monospace;
  text-align: center;
  border: 1px solid var(--bdcolor);
  color: var(--textcolor);
}

/* MENUS */ 

nav {
  position: absolute;
  background-color: var(--bgoverlay);
  font: inherit;
  display: none;
  color: var(--bdcolor);
  padding: 5px;
  z-index: 3;
}

p.dropdown-item {
  word-wrap: break-word;
  margin: 0;
  font: 16px var(--menufont);
  font-weight: var(--fontweight);
  background-color: var(--background);
  color: var(--textcolor);
  z-index: inherit;
}

.dropdown {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding: 0 3px;
}

.dropdown-item:hover {
  color: var(--select);
}

/* CONTAINERS */

.container {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.leftcolumn {
  width: 20vw;
  height: calc(100% - 5px);
  padding: 0;
  background-color: inherit;
  position: relative;
  float:left;
  overflow: hidden;
}

.greyedout {
  opacity: 0.1;
}

#listcontainer {
  width: 80vw;
  height: 100%;
  float: left;
  position: relative;
}

#listcontainer > span {
  color: var(--select);
  width: 50%;
}

.drop-hover {
  background-color: var(--event) !important;
  border: 1px solid var(--select) !important;
  border-radius: 3px;
}

/* PARAGRAPHS */

.rendered {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font: inherit;
  background-color: var(--background);
  color: var(--textcolor);
  border: 1px solid var(--background);
}

#floplist {
  width: 50%;
  height: 100vh;
  padding: 1px;
  float: left;
  background-color: inherit;
  border-right: 1px solid var(--bdcolor);
  border-left: 1px solid var(--bdcolor);
}

#poplist {
  width: 50%;
  height: 100vh;
  padding: 1px;
  float: left;
  background-color: inherit;
}

#help {
  font: inherit;
  font-size: 18px;
  background-color: inherit;
  color: var(--textcolor);
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  height: 40%;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--bdcolor);
}

#help button {
  font-size: 18px !important;
}

#help span.h1 {
  font-size: 115%;
}

#tutorial {
  width: 100%;
  height: 100vh;
  max-width: 500px;
  background-color: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  overflow: auto;
  z-index: 2;
}

#tutorial .h1 {
  padding: 10px 0;
  margin-top: 0;
  font-size: 200%;
  border-top: 1px solid var(--bdcolor);
  color: var(--select)
}

#tutorial .banner {
  width: 100%;
  text-align: center;
  position: fixed;
  font-family: monospace;
  font-size: 300%;
  color: white;
  top: -20px; 
  margin-top: 20px;
  left: 0;
  max-width: 500px;
  background: #000;
  padding-bottom: 15px;
}

.tutorial-vid {
  width: 100%;
}

/* # LISTS */

.loads {
  position: relative;
  background-color: transparent;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: initial;
  margin: 0;
}

.selected {
  color: var(--select);
}

.unselected {
  color: var(--textcolor);
}

textarea.folded {
  opacity: 0.7;
}

.collapsed {
  display: none;
}

.fullwidth {
  width: 100vw !important;
}

textarea {
  resize: none;
}

textarea.listtitle, p.listtitle {
  width: calc(100% - 6px);
  height: calc(1.35em);
  margin: 0 3px;
  display: inline-block;
  font: 100% var(--font), serif;
  font-weight: var(--boldweight);
  word-wrap: break-word;
  background-color: inherit;
  border: none;
  overflow-x: hidden;
}

/* EDITING */

textarea.in, p.incopy {
  font: inherit;
  width: 100%;
  color: var(--textcolor);
  background: inherit;
  line-height: var(--lineheight);
}

#texttest {
  height: max-content;
  /* display: block; */
  /* position: absolute;
  top: 100px;
  left: 300px; */
  /* z-index: 1; */
  overflow: visible;
  /* color: white; */
}

textarea.sublist {
  padding-left: 0.5em;
  font-size: 0.85em !important;
  opacity: 0.85;
}

.slider, .slider-vert {
  -webkit-appearance: none;
  background: transparent;
  border: transparent;
  position: absolute;
  width: 400px;
}

.slider-vert {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: var(--select);
  border-radius: 100%;
}

/* # SPANS */

span {
  width: 100%;
  display: inline-block;
  font-family: inherit;
}

span.in {
  padding-bottom: 3px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.small {
  transform: scale(0.5, 0.5);
  width: 10px;
}

.taskselect {
  border: 1px solid var(--select);
  border-radius: 5px;
}

span.bold, span.bold-italic, span.deadline, span.link, span.italic,
span.timing, span.weblink {
  display: inline;
  padding: 0;
}

span.list {
  text-indent: calc(var(--indent) * -1);
  padding-left: calc(var(--indent) + 5px);
}

span.note {
  font-size: .75em;
  text-indent: -1em;
  padding-left: calc(1em + 5px);
  font-family: var(--menufont);
}

span.duedate {
  color: var(--select);
  /* font-style: italic; */
  border-radius: 5px;
}

span.horizline {
  height: 0.5em;
  border-bottom: 1px solid var(--textcolor);
  margin-bottom: 0.5em;
}

span.folded {
  opacity: 0.7;
}

span.link {
  color: var(--select);
}

span.h1, span.h2, span.h3 {
  margin: 0.5em 0 0 0;
  padding: 0.1em 0 0.3em 0;
  text-align: var(--headingalign);
  vertical-align: bottom;
}

span.h1 {
  font-size: 150%;
  font-weight: var(--boldweight); 
}

span.h2 {
  font-size: 125%;
  font-style: italic;
}

span.h3 {
  font-size: 112%;
  text-decoration: underline;
}

span.italic {
  font-style: italic;
}

span.bold {
  font-weight: bold;
}

span.bold-italic {
  font-weight: bold;
  font-style: italic;
}

span.dateheading {
  color: var(--select);
  margin: 0 0 0.2em 0 !important;
}

span.placeholder {
  text-align: var(--headingalign);
  font-family: var(--butfont), monospace;
  font-size: 12px;
  padding: 0;
  margin: 0 0 0 0;
}

span.complete {
  opacity: 0.3 !important;
}

span.important {
  color: var(--important);
  font-weight: var(--boldweight);
}

span.maybe {
  color: var(--maybe);
}

span.event {
  background-color: var(--event);
  border-radius: 3px;
  margin-bottom: 5px;
}

span.weblink {
  color: var(--select)
}

span.timing, span.faketiming {
  background-color: var(--event);
  display: inline;
  border-radius: 5px;
  padding: 0 2px;
  font-family: var(--menufont);
  font-size: 80%;
  font-weight: var(--boldweight);
}

span.deadline {
  color: var(--select);
}

/* ## SUBSPANS */

span span.mobhandle {
  display: none;
}

span span.in, span textarea.in, #texttest.in {
  margin-left: calc(0.5em - 5px);
  font-size: 0.85em;
  opacity: 0.85;
  text-indent: 0;
  width: calc(100% - 5px);
}

span.list span.in, span.note span.in,
span.list textarea.in, span.note textarea.in {
  margin-left: -5px;
  width: calc(100% + 5px);
}

span span.list {
  text-indent: calc(var(--indent) * -1);
  padding-left: calc(var(--indent) + 5px);
}

span span.note {
  font-size: 0.64em !important;
  opacity: 0.85;
  text-indent: -1em;
  padding-left: 1em + 5px;
}

span.link, span.bold, span.italic, span.bold-italic, 
span.weblink, span.deadline {
  padding-left: 0 !important;
  display: inline;
}

/* ## HELP SPANS */

#help span {
  padding: 2px 4px;
}

#help span.command, #help span.h1 {
  border-bottom: 1px solid var(--bdcolor);
}

#help .h1 {
  color: var(--select);
  font-weight: var(--boldweight);
}

#help span.left, #help span.right {
  vertical-align: top;
  display: inline-block;
  border-bottom: none;
}

#help span.left {
  text-align: left;
}

#help span.right {
  text-align: right;
  font-style: italic;
}

/* # MOBILE */

@media only screen and (max-width: 600px) {
  #help {
    height: 30%;
    overflow-wrap: break-word;
  }
  #help span {
    font-size: 12px;
  }
  .container {
    height: calc(100vh - 75px);
    border-bottom: 1px solid var(--bdcolor);
    background: var(--background);
  }
  #listcontainer {
    color: var(--textcolor);
  }
  #listcontainer:not(.fullwidth) {
    width: calc(50vw);
  }
  #listcontainer.fullwidth {
    width: calc(100vw - 35px) !important;
  }
  .collapsed {
    display: block;
    margin-left: calc(-50vw + 35px);
  }
  #floplist, #poplist {
    width: 100%;
    height: 50%;
    float: none;
    clear: left;
    border-left: 1px solid var(--bdcolor);
  }
  #floplist {
    border-bottom: 1px solid var(--bdcolor);
    border-left: 1px solid var(--bdcolor);
    border-right: none;
  }
  #listcontainer > span {
    width: calc(100% - 30px);
    margin-left: 5px;
  }
  .loads {
    width: calc(100% + 5px);
    /* margin-left: -5px; */
  }
  textarea.listtitle {
    width: calc(100% - 2px);
    margin: -2px 1px;
    font-size: 16px;
  }
  textarea.sublist {
    font-size: 12px !important;
    padding-left: 1em;
  }
  .leftcolumn {
    font-size: 24px;
    height: 100%;
    width: 50vw;
  }
  #desktopbuts, #help {
    float: left;
    width: calc(100% - 35px);
  }
  #lists {
    width: calc(100% + 5px);
  }
  #mobilebuts {
    width: 35px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    margin: 2px 0;
    background-color: transparent;
    border-left: 1px solid var(--bdcolor);
    height: 100vh;
  }
  input, #searchbarframe {
    font-size: 24px;
    width: calc(100% - 2px);
    margin-left: 1px;
  }
  #searchbarframe input {
    width: 100%;
  }
  #timerent {
    font-size: 24px;
  }
  button {
    font-size: 18px !important;
  }
  #help button {
    font-size: 2.7vw !important;
    padding: 5px 1px;
    word-wrap: break-word;
    width: 100%;
  }
  button#optionsbut {
    font-size: 12px !important;
    height: 30px;
  }
  div.leftcolumn div.butbar {
    margin: 0;
  }
  .leftcolumn .butbar {
    width: 100%;
  }
  .dropdown-item {
    font-size: 24px !important;
  }
  #context-menu {
    background: var(--background);
  }
  span.h1 {
    font-size: 130%;
  }
  span.h2 {
    font-size: 120%;
  }
  span.h3 {
    font-size: 110%;
  }
}

