@font-face {
  font-family: "Garamond";
  src:  url("garamond.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond";
  src:  url("garamond-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Garamond";
  src:  url("garamond-italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Garamond";
  src:  url("garamond-bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

body {
  font: 24px var(--font), serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--background);
}

button {
  font-family: var(--butfont);
  color: var(--butcolor);
  background-color: var(--butbackground);
  border-radius: 6px;
  border-width: 1px;
  border-color: var(--butborder);
  padding: 4px;
  min-width: 17px;
}

.opts {
  height: 100%;
  margin: 2px;
}

.butbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 0;
}

.flopbut {
  flex-grow: 1;
}

.topbar {
  margin-bottom: 1px solid var(--bdcolor);
  align-items: center;
}

.title {
  font-family: var(--menufont);
  color: var(--textcolor);
  margin: 0 -5px;
  padding: 0;
  width: calc(100% + 10px);
  text-align: center;
  border-bottom: 1px solid var(--bdcolor);
  overflow: hidden;
}

span:not(.bold):not(.bold-italic):not(.deadline):not(.link):not(.italic) {
  display: inline-block;
  width: calc(100% - 25px);
  padding-bottom: 5px;
  padding-top: 2px;
}

span span:not(.bold):not(.bold-italic):not(.italic):not(.link):not(.deadline) {
  padding-left: 1em;
  font-size: 85%;
  opacity: 0.85;
}

span.list span:not(.bold):not(.bold-italic):not(.italic):not(.link):not(.deadline) {
  padding-left: 0.5em;
}

.duedate {
  font-family: var(--font), serif;
  color: var(--duedatecolor);
  font-style: italic;
  border-radius: 5px;
}

.horizline {
  height: 0.5em;
  border-bottom: 1px solid var(--textcolor);
  margin-bottom: 0.5em;
}

textarea.selected, textarea.unselected {
  width: calc(100% - 10px);
  height: calc(1em + 5px);
  margin: 1px 5px;
  display: inline-block;
  font: 100% var(--font), serif;
  font-weight: bold;
  background-color: inherit;
  border: none;
  overflow-x: hidden;
  overflow-y: visible;
}

textarea.in {
  font: 80% var(--menufont), monospace;
  width: calc(100% - 10px);
  color: var(--textcolor);
  background: inherit;
}

span textarea.in {
  padding-left: 1em;
  width: calc(100% - 1em - 10px);
}

textarea {
  resize: none;
}

#texttest {
  margin: 0;
  font: 80% var(--menufont), monospace;
  width: calc(100% - 5px);
  color: var(--textcolor);
  background: inherit;
}

audio {
  display: none;
}

[draggable] {
  user-select: none;
}

#help span {
  padding-left: 5px;
  width: calc(100% - 5px);
}

#help {
  font: inherit;
  font-size: 18px;
  background-color: inherit;
  color: var(--textcolor);
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  height: 40%;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--bdcolor);
}

input {
  display: block;
  font: inherit;
  width: 100%;
  margin: auto;
  background-color: inherit;
  border: 1px solid var(--bdcolor);
  color: var(--textcolor);
}

#username {
  color: var(--textcolor);
  text-align: center;
  margin: 0 0;
}

#searchbar {
  border: 1px solid var(--bdcolor);
  color: var(--textcolor);
}

#timerent {
  font: 80% var(--menufont), monospace;
  text-align: center;
  border: 1px solid var(--bdcolor);
  color: var(--textcolor);
}

#context-menu {
  position: absolute;
  background-color: var(--contextcolor);
  z-index: 1;
  font: inherit;
  display: none;
  color: var(--contextfontcolor);
  padding: 10px 20px;
}

span.folded {
  opacity: 0.7;
}

span.link {
  color: var(--select);
}
p.dropdown-item {
  word-wrap: break-word;
  margin: 0;
}

.dropdown {
  display: inline-block;
  background-color: var(--background);
  color: var(--textcolor);
  position:absolute;
  width: 100%;
  z-index: 1;
}

.dropdown-item:hover {
  color: var(--select);
}

.dropdown-item {
  font: 16px var(--menufont);
  background-color: transparent;
  z-index: inherit;
}

span.complete {
  opacity: 0.3 !important;
}

span.important {
  color: var(--important);
}

span span:not(.list) {
  text-indent: 0
}

span.event {
  background-color: var(--event);
  display: inline-block;
  border-radius: 3px;
  margin-bottom: 5px;
  width: calc(100% - 15px);
}

span.link, span.bold, span.italic, span.bold-italic, 
span.weblink, span.deadline {
  padding-left: 0 !important;
  display: inline;
}

span.deadline {
  color: var(--duedatecolor);
}

span.list {
  text-indent: -0.5em;
  padding-left: calc(0.5em + 5px);
}

.topbar {
  padding: 5px;
}

.bottombar {
  height: 5px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.leftcolumn {
  width: calc(20% - 5px);
  height: calc(100% - 5px);
  padding: 10px 5px;
  background-color: inherit;
  position: relative;
  float:left;
  overflow: hidden;
}

.listcontainer {
  width: calc(80% - 5px);
  height: 100%;
  float: left;
}

.floplist {
  width: calc(50% - 15px);
  height: 100vh;
  padding: 5px;
  float: left;
  background-color: inherit;
  border-right: 1px solid var(--bdcolor);
  border-left: 1px solid var(--bdcolor);
}

.poplist {
  width: calc(50% - 15px);
  height: 100vh;
  padding: 5px;
  float: left;
  background-color: inherit;
}

.taskselect {
  border: 1px solid var(--select);
  border-radius: 5px;
}


.rendered {
  height: calc(100vh - 23px - var(--butheight));
  width: 100%;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font: inherit;
  background-color: inherit;
  color: var(--textcolor);
}

.loads {
  position: relative;
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: initial;
  margin: 0;
}

.selected {
  color: var(--select);
}

.unselected {
  color: var(--textcolor);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.bold-italic {
  font-family: var(--font);
  font-weight: bold;
  font-style: italic;
}

.h1 {
  font-size: 150%;
  font-weight: bold; 
}

.h2 {
  font-size: 125%;
  font-style: italic;
}

.h3 {
  font-size: 112%;
  text-decoration: underline;
}

.h1, .h2, .h3 {
  margin-top: 0.5em;
  display: inline-block;
  text-align: center;
  line-height: 1em;
  font-family: var(--font), serif;
}

.dateheading {
  color: var(--date);
  width: 100%;
  margin: 0;
  padding-top: 0;
}

.placeholder {
  text-align: center;
  font-family: var(--butfont);
  font-size: 12px;
  padding: 0;
  margin: 0 0 0 0;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 24px;
    height: 100vh;
    position: relative;
  }
  .container {
    height: calc(100vh - 80px);
    border-bottom: 1px solid var(--bdcolor);
  }
  .listcontainer {
    height: 100%;
    width: calc(85% - 25px);
  }
  .floplist {
    width: calc(100%);
    height: 48%;
    border-bottom: 1px solid var(--bdcolor);
    border-left: 1px solid var(--bdcolor);
    border-right: none;
  }
  .poplist {
    width: 100%;
    height: 48%;
    float: none;
    clear: left;
    border-left: 1px solid var(--bdcolor);
  }
  #help {
    font-size: 14px;
    height: 20%;
    overflow-wrap: break-word;
  }
  .rendered {
    height: calc(100% - var(--butheight) - 12px);
  }
  .loads {
    margin-left: -5px;
    width: calc(100% + 10px);
  }
  .loads textarea {
    margin-left: 0;
    width: 100%;
    padding: 0;
  }
  .leftcolumn {
    width: 15%;
    font-size: 12px;
    height: calc(100% - 25px);
  }
  input {
    font-size: 24px;
    width: calc(100% - 15px);
  }
  button {
    font-size: 14px !important;
  }
  .leftcolumn button {
    width: calc(50% - 5px);
    padding: 3px;
    margin: 2px;
  }
  .dropdown-item {
    font-size: 24px !important;
  }
  #context-menu {
    background: var(--background);
  }
}
