@font-face {
  font-family: "Garamond";
  src:  url("garamond.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond";
  src:  url("garamond-bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Garamond";
  src:  url("garamond-italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Garamond";
  src:  url("garamond-bold-italic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}

/* MAIN */

html {
  scroll-behavior: smooth;
}

body {
  font: 24px var(--font), serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

/* TITLES AND BUTTONS */

button {
  font-family: var(--butfont), monospace;
  color: var(--butcolor);
  background-color: var(--butbackground);
  border-radius: 6px;
  border-width: 1px;
  border-color: var(--butborder);
  padding: 4px;
  min-width: 17px;
}

.butbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flopbut {
  flex-grow: 1;
}

.title {
  font-family: var(--menufont);
  color: var(--textcolor);
  margin: 0 -5px;
  padding: 0;
  width: calc(100% + 10px);
  text-align: center;
  border-bottom: 1px solid var(--bdcolor);
  overflow: hidden;
}

/* OTHER */

audio {
  display: none;
}

[draggable] {
  user-select: none;
}

/* INPUTS */

input {
  display: block;
  font: inherit;
  width: 100%;
  margin: auto;
  background-color: inherit;
  border: 1px solid var(--bdcolor);
  color: var(--textcolor);
}

#username {
  color: var(--textcolor);
  text-align: center;
  margin: 0 0;
}

#searchbar {
  border: 1px solid var(--bdcolor);
  color: var(--textcolor);
}

#timerent {
  font: 80% var(--menufont), monospace;
  text-align: center;
  border: 1px solid var(--bdcolor);
  color: var(--textcolor);
}

/* MENUS */ 

nav {
  position: absolute;
  background-color: var(--contextcolor);
  z-index: 1;
  font: inherit;
  display: none;
  color: var(--contextfontcolor);
  padding: 5px;
}

p.dropdown-item {
  word-wrap: break-word;
  margin: 0;
}

.dropdown {
  display: inline-block;
  background-color: var(--background);
  color: var(--textcolor);
  position:absolute;
  width: 100%;
  z-index: 1;
}

.dropdown-item:hover {
  color: var(--select);
}

.dropdown-item {
  font: 16px var(--menufont);
  background-color: transparent;
  z-index: inherit;
}

/* CONTAINERS */

.container {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.leftcolumn {
  width: 20vw;
  height: calc(100% - 5px);
  padding: 10px 5px;
  background-color: inherit;
  position: relative;
  float:left;
  overflow: hidden;
}

.listcontainer {
  width: 80vw;
  height: 100%;
  float: left;
}

/* PARAGRAPHS */

.rendered {
  height: calc(100% - var(--butheight));
  width: 100%;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  font: inherit;
  background-color: inherit;
  color: var(--textcolor);
}

.floplist {
  width: 50%;
  height: 100vh;
  padding: 5px;
  float: left;
  background-color: inherit;
  border-right: 1px solid var(--bdcolor);
  border-left: 1px solid var(--bdcolor);
}

.poplist {
  width: 50%;
  height: 100vh;
  padding: 5px;
  float: left;
  background-color: inherit;
}

#help {
  font: inherit;
  font-size: 20px;
  background-color: inherit;
  color: var(--textcolor);
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  height: 40%;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--bdcolor);
}

/* # LISTS */

.loads {
  position: relative;
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: initial;
  margin: 0;
}

.selected {
  color: var(--select);
}

.unselected {
  color: var(--textcolor);
}

textarea.folded {
  opacity: 0.7;
}

textarea {
  resize: none;
}

textarea.selected, textarea.unselected {
  height: calc(1em + 5px);
  margin: 1px 5px;
  display: inline-block;
  font: 100% var(--font), serif;
  font-weight: bold;
  background-color: inherit;
  border: none;
  overflow-x: hidden;
  overflow-y: visible;
}

/* EDITING */

textarea.in, #texttest {
  font: 80% var(--menufont), monospace;
  width: 100%;
  color: var(--textcolor);
  background: inherit;
  line-height: 1.25em;
}

textarea.sublist {
  padding-left: 0.5em;
  font-size: 0.85em !important;
  opacity: 0.85;
}

.slider, .slider-vert {
  -webkit-appearance: none;
  background: transparent;
  border: transparent;
  position: absolute;
  width: 400px;
}

.slider-vert {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: var(--select);
  border-radius: 100%;
}

/* # SPANS */

span {
  width: 100%;
  display: inline-block;
}

span.in {
  padding-bottom: 5px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.taskselect {
  border: 1px solid var(--select);
  border-radius: 5px;
}

span.bold, span.bold-italic, span.deadline, span.link, span.italic,
span.timing, span.weblink {
  display: inline;
  padding: 0;
}

span.list {
  text-indent: -0.5em;
  padding-left: calc(0.5em + 5px);
}

span.note {
  font-size: .6em;
  text-indent: -1em;
  padding-left: calc(1em + 5px);
  font-family: 'Courier New';
}

span.duedate {
  font-family: var(--font), serif;
  color: var(--duedatecolor);
  font-style: italic;
  border-radius: 5px;
}

span.horizline {
  height: 0.5em;
  border-bottom: 1px solid var(--textcolor);
  margin-bottom: 0.5em;
}

span.folded {
  opacity: 0.7;
}

span.link {
  color: var(--select);
}

span.h1, span.h2, span.h3 {
  margin-top: 0.5em;
  text-align: var(--headingalign);
  line-height: 1em;
  font-family: var(--font), serif;
}

span.h1 {
  font-size: 150%;
  font-weight: bold; 
}

span.h2 {
  font-size: 125%;
  font-style: italic;
}

span.h3 {
  font-size: 112%;
  text-decoration: underline;
}

span.italic {
  font-style: italic;
}

span.bold {
  font-weight: bold;
}

span.bold-italic {
  font-family: var(--font);
  font-weight: bold;
  font-style: italic;
}

span.dateheading {
  color: var(--date);
  margin: 0;
  padding-top: 0;
}

span.placeholder {
  text-align: var(--headingalign);
  font-family: var(--butfont), monospace;
  font-size: 12px;
  padding: 0;
  margin: 0 0 0 0;
}

span.complete {
  opacity: 0.3 !important;
}

span.important {
  color: var(--important);
}

span.event {
  background-color: var(--event);
  border-radius: 3px;
  margin-bottom: 5px;
}

span.weblink {
  color: var(--select)
}

span.timing {
  background-color: var(--event);
  display: inline;
  border-radius: 5px;
  padding: 0 2px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 80%;
  font-weight: bold;
}

span.deadline {
  color: var(--duedatecolor);
}

/* ## SUBSPANS */

span span.in, span textarea.in {
  margin-left: calc(0.5em - 5px);
  font-size: 0.85em;
  opacity: 0.85;
  text-indent: 0;
  width: calc(100% - 5px);
}

span.list span.in, span.note span.in,
span.list textarea.in, span.note textarea.in {
  margin-left: -5px;
  width: calc(100% + 5px);
}

span span.list {
  text-indent: -0.5em;
  padding-left: calc(0.5em + 5px);
}

span span.note {
  font-size: 0.64em !important;
  opacity: 0.85;
  text-indent: -1em;
  padding-left: 1em;
}

span.link, span.bold, span.italic, span.bold-italic, 
span.weblink, span.deadline {
  padding-left: 0 !important;
  display: inline;
}

/* ## HELP SPANS */

#help span {
  padding: 2px 4px;
}

#help span.command {
  border-bottom: 1px solid grey;
}

#help span.left, #help span.right {
  vertical-align: top;
  display: inline-block;
  border-bottom: none;
}

#help span.left {
  text-align: left;
}

#help span.right {
  text-align: right;
  font-style: italic;
}

/* # MOBILE */

@media only screen and (max-width: 600px) {
  #help {
    font-size: 14px;
    height: 30%;
    overflow-wrap: break-word;
  }
  .container {
    height: calc(100vh - 80px);
    border-bottom: 1px solid var(--bdcolor);
    color: var(--textcolor);
    background: var(--background);
  }
  .floplist, .poplist {
    width: 100%;
    height: 50%;
    float: none;
    clear: left;
    border-left: 1px solid var(--bdcolor);
  }
  .floplist {
    border-bottom: 1px solid var(--bdcolor);
    border-left: 1px solid var(--bdcolor);
    border-right: none;
  }
  .loads {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .loads textarea {
    width: 100%;
    margin: 0;
    font-size: 16px;
  }
  .leftcolumn {
    font-size: 24px;
    height: 100%;
  }
  input {
    font-size: 24px;
    width: calc(100% - 10px);
  }
  #timerent {
    font-size: 24px;
  }
  button {
    font-size: 18px !important;
    min-width: 5vw;
  }
  div.leftcolumn div.butbar {
    width: calc(100% + 6px);
    margin: 0;
    margin-left: -3px;
  }
  .leftcolumn .butbar button {
    width: calc(50% - 5px);
    padding: 3px;
    margin: 2px;
  }
  #listbuts button {
    width: calc(33% - 5px);
    margin: 1px;
  }
  .leftcolumn .butbar {
    width: 100%;
  }
  .dropdown-item {
    font-size: 24px !important;
  }
  #context-menu {
    background: var(--background);
  }
  .drop-hover {
    background-color: #333;
  }
  span span.mobhandle {
    border: 1px solid var(--select);
    height: 30px !important;
    width: 30px !important;
    border-radius: 100%;
    padding: 0;
    margin: 1px;
    position: absolute;
    top: 0;
    right: 10px;
  }
  span span span.mobhandle {
    height: 20px !important;
    width: 20px !important;
    right: 15px;
  }
  /* add the padding-right to subspan widths */
  span.in {
    padding-right: 40px;
  }
  span.in span.in {
    width: calc(100% + 5px + 40px - 0.5em);
  }
  span.list span.in, span.note span.in {
    width: calc(100% + 5px + 40px);
  }
  span span.event {
    width: calc(100% + 0.5em + 40px);
  }
}

